---
 const personalImageAlt = "Lucas Alejandro"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Lucas, pero mis amigos me llaman Neit, desde chico tuve curiosidad por los programas, y a partir de mis 15 no me separé del software. Actualmente estoy <strong
        >siendo desarrollador freelancer para personas de todo el mundo</strong
      > y <strong>estudiando para ser Ing. en Sistemas</strong>.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >poder crear un sistema de gestion de eventos completo y funcional</strong
      >. Teniendo en cuenta el planeamiento, prototipos y diagramas correspondientes.
    </p>

    <p>
      Como freelancer, <strong
        >cuento con la capacidad de crear sistemas multiplataforma funcionales como lo son: <em class="italic">Movil, Web, Escritorio y sist Embebidos</em></strong
      >. Mi objetivo como vital importancia es mejorar la <em class="italic">Escalabilidad, Seguridad y Experiencia de usuario</em> de las aplicaciones.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

