---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Freelancer",
    company: "Workana, Upwork, Linkedin",
    description:
      "Creo aplicaciones funcionales basados en los requerimientos de mis clientes.",
    link: "/links",
  },
  {
    date: "Actualmente ...",
    title: "Estudiante de Ing. en Sistemas",
    company: "UTN-FRLP",
    description:
      "Desarrollando mis habilidades en la UTN de la plata para formarme como futuro Ingeniero.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
