---
var variable = "pepe";
---

<header class="fixed bg-transparent top-0 h-[8vh] w-screen z-10">
  <div class="flex items-center box-content h-full justify-between">
    <div class="flex grow basis-0"><p class="text-white">Logo</p></div>
    <nav id="navegation" class="flex">
      <ul
        class="scroll-smooth flex [&>li]:px-[1em] [&>li]:py-[0.5em] text-white"
      >
        <li><a href="#home">Inicio</a></li>
        <li><a href="#about">Sobre Mi</a></li>
        <li><a href="#projects">Proyectos</a></li>
        <li><a href="#contact-me">Contactame</a></li>
      </ul>
    </nav>
    <nav class="flex grow basis-0 justify-end">
      <ul class="flex [&>li]:px-[1em]">
        <li>
          <div
            class="mr-[1em] border-2 border-myYellow rounded-lg px-3 py-2 text-white cursor-pointer hover:bg-myYellow hover:text-white"
          >
            Descarga mi CV
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <div
    id="menu-backdrop"
    class={`
      absolute bg-white/5 backdrop-blur-lg rounded
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-200
      ease-in-out opacity-0 -z-10 
    `}
  >
  </div>
</header>

<script>
  const listItem = document.querySelectorAll("#navegation li");
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      menuBackDrop.style.setProperty("--left", `${left}px`);
      menuBackDrop.style.setProperty("--top", `${top}px`);
      menuBackDrop.style.setProperty("--width", `${width}px`);
      menuBackDrop.style.setProperty("--height", `${height}px`);

      menuBackDrop.style.opacity = "1";
      menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";
    });
  });
</script>

<style>
  a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }

  a:hover,
  a:focus {
    background-size: 100% 2px;
  }

  #targ {
    background-size: 100% 2px;
  }
</style>
