<header class="fixed bg-transparent top-0 h-[8vh] w-screen">
    <div class="flex items-center box-content h-full  justify-between">
        <div class="flex p-5 grow"><p class="text-white">Logo</p></div>
        <nav class="flex ">
            <ul class="flex [&>li]:px-[1em] text-white">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre Mi</a></li>
                <li><a href="#">Contactame</a></li>
            </ul>
        </nav>
        <nav class="flex grow justify-end">
            <ul class="flex [&>li]:px-[1em] ">
                <li><div class="border-2 border-myYellow rounded-lg px-3 py-2 text-white cursor-pointer hover:bg-myYellow hover:text-white">
                    Descarga mi CV
                  </div></li>
            </ul>
        </nav>
    </div>
</header>
